<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
<title>班级教育管理平台</title>
<link href="/front/css/common.css" rel="stylesheet" type="text/css">
<link href="/front/css/index.css" rel="stylesheet" type="text/css">
<link href="/js/layui/css/layui.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/front/js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="/index/js/jquery.SuperSlide.2.1.1.js"></script>
 -->
<!-- vue -->
<script src="/front/js/vue.js"></script>
<!--全局配置-->
<!--<script src="/js-v/config.js"></script>-->

<!--<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=zUienaLUDnqDWVVd7Zm6eQl3Z33nHvbq"></script>-->

</head>
<body>
<div class="wrap" id="app">
    <div class="wrap_main clearfixhack">
    <!-- 主体 开始 -->
		<div class="indextop">
			<div class="container">
				班级教育管理系统
				<!-- <a class="fr c666" href="#">联系我们</a>
				<a class="fr c666" href="#">人才招聘</a>-->
				<a class="fr c666" href="/logout">退出</a>
			</div>
		</div><!-- indextop  end  -->
		<div class="indexhead">
			<div class="container">
				<!--<img class="logo" src="/front/img/logo.png" />-->
				<!-- <div class="searchbox">
					<div class="searchinput"><input type="text" placeholder="请输入您要搜索的内容" /></div>
					<div class="searchbtn"><a href="#"></a></div>
					<div class="searchhistory">热门搜索：<a href="#">教育</a><a href="#">海淀</a><a href="#">幼儿园</a></div>
				</div> -->
			</div>
		</div><!-- indexhead  end  -->
    	<div class="indexmenu">
			<div class="container">
				<ul>
					<li class="on"><a href="/index?destination=1" >首页</a></li>
					 <li><a href="/front/photo/myPhoto">我的相册</a></li>
					<li><a href="/front/leavemsg/myLeavemsg">留言板</a></li>
				</ul>
			</div>
		</div><!-- indexmenu  end  -->
		<div class="container clearfix mb20">
			<div class="item_1 item_rmtj">
				<div class="head"><img class="backimg" src="/front/img/item1head.png" /><img class="iconimg" src="/front/img/icon1.png" /><span>最新相册</span><a class="more" href="/front/photo/myPhoto">【更多】</a></div>
				<div class="mid">
					<ul class="clearfix ul_rmtj">
						<template v-for="(photo,index) in newPhoto">
							<li>
								<img class="img" :src="photo.url" />
								<h1>【党政】学习宣传贯彻党的十九大精神部署会</h1>
							</li>
						</template>
					</ul>
				</div>
			</div><!-- 热门推荐  end  -->
			<div class="item_2 item_news fl">
				<div class="head"><span>最新留言</span><a class="more" href="/front/leavemsg/myLeavemsg">【更多】</a></div>
				<div class="mid mt15">
					<ul class="item_2ul ul_xwdt">
						<template v-for="(leaveMsg,index) in newLeaveMsg">
							<li class="clearfix"><a class="title" href="#" v-html="leaveMsg.content"></a><span class="time">{{leaveMsg.createDate}}</span></li>
						</template>
					</ul>
				</div>
			</div><!-- 新闻动态  end  -->
			<div class="item_2 item_news fr slideTxtBox">
				<div class="hd">
					<ul><li class="on">访问我主页</li><li class="">我访问主页</li></ul>
				</div>
				<div class="bd mt15">
					<ul class="item_2ul ul_gzgl">
						<!--<template v-for="(dataGzgl,index) in listGzgl">
							<li class="clearfix"><a class="title" :href="'../index/content.html?id='+dataGzgl.ID+''">{{dataGzgl.TITLE}}</a><span class="time">{{dataGzgl.CREATION_DATE}}</span></li>
						</template>-->
						<li class="clearfix"><a class="title" :href="'../index/content.html?id='">张三</a><span class="time">2020.9.03</span></li>
						<li class="clearfix"><a class="title" :href="'../index/content.html?id='">张三</a><span class="time">2020.9.03</span></li>
						<li class="clearfix"><a class="title" :href="'../index/content.html?id='">张三</a><span class="time">2020.9.03</span></li>

					</ul>
					<ul class="item_2ul ul_gsgg">
					<!--	<template v-for="(dataGzgg,index) in listGzgg">
							<li class="clearfix"><a class="title" :href="'../index/content.html?id='+dataGzgg.ID+''">{{dataGzgg.TITLE}}</a><span class="time">{{dataGzgg.CREATION_DATE}}</span></li>
						</template>-->
						<li class="clearfix"><a class="title" :href="'../index/content.html?id='">李四</a><span class="time">2020.9.03</span></li>
						<li class="clearfix"><a class="title" :href="'../index/content.html?id='">李四</a><span class="time">2020.9.03</span></li>
						<li class="clearfix"><a class="title" :href="'../index/content.html?id='">李四</a><span class="time">2020.9.03</span></li>

					</ul>
				</div>
			</div><!-- 工作管理  end  -->
			<div class="clearfix"></div>
			<div class="item_2 item_dwgk fr" style="width: 1200px">
				<div class="head"><span>班级同学</span></div>
				<div class="mid mt20">
					<ul class="item_2ul2 ul_dwgk">
						<template v-for="(stu,index) in classStu">
							<li>{{index+1+'.'+stu.stuName}}</li>
						</template>
					</ul>
				</div>
				<div id="page" style="float: right">

				</div>
			</div><!-- 党务公开  end  -->

			<div class="clearfix"></div>
			<!--<div class="item_1 ">
				<div class="head"><img class="backimg" src="/front/img/item1head.png" /><img class="iconimg" src="/front/img/icon1.png" /><span>专题专栏</span><a class="more" href="../index/xinwenList.html?name=新闻动态">【更多】</a></div>
				<div class="picScroll-left">
						<a class="next"></a>
						<a class="prev"></a>
					<div class="bd">
						<div class="tempWrap"><ul class="picList">
					&lt;!&ndash;		<template v-for="(dataZtzl,index) in listZtzl">
								<li><a :href="'../index/content.html?id='+dataZtzl.ID+''">
									<img v-bind:src="nginxurl+dataZtzl.COVER_IMAGE" />
									<p>{{dataZtzl.title}}</p></a>
								</li>
							</template>&ndash;&gt;

							<li><a href="#">
								<img src="/front/img/img3.jpg" />
								<p>党的十九大精神部署会</p></a>
							</li>
							<li><a href="#">
								<img src="/front/img/img1.jpg" />
								<p>党的十九大精神部署会</p></a>
							</li>
							<li><a href="#">
								<img src="/front/img/img2.jpg" />
								<p>党的十九大精神部署会</p></a>
							</li>
						</ul></div>
					</div>
				</div>
			</div>&lt;!&ndash; 专题专栏  end  &ndash;&gt;-->
		</div>
    <!-- 主体  结束  -->
    </div>
</div>
<!-- 底部  开始  -->
<div class="footer">
	<div class="main">
		<p>版权所有：北京市xxxxx    </br>
		地址：北京市xxxxxxxxx　咨询热线：xxxxx</p>
	</div>
</div>
<!-- 底部  结束  -->
</body>
<script type="text/javascript" src="/front/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="/front/js/pre-loader.js"></script>
<script src="/front/js/sweetalert.min.js"></script>
<script src="/js/layui/layui.all.js"></script>
<script type="text/javascript" src="/front/js/index.js"></script>
<!-- <script type="text/javascript" src="/index/js/map_list.js"></script>
 -->
</html>
