<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
    <title>我的留言</title>
    <link href="/front/css/list.css" rel="stylesheet" type="text/css">
    <link href="/front/css/common.css" rel="stylesheet" type="text/css">
    <link href="/front/css/index.css" rel="stylesheet" type="text/css">
    <link href="/js/layui/css/layui.css" rel="stylesheet" type="text/css">
    <link href="/front/dspro/css/main.css" rel="stylesheet" type="text/css">
    <link href="/front/dspro/css/sinaFaceAndEffec.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/front/js/jquery.min.js"></script>
    <!-- vue -->
    <script src="/front/js/vue.js"></script>
    <style>
        .listul li{
            border-bottom: 1px ghostwhite solid;
        }
        .listul li a{
            white-space:normal
        }
        .from_user{
            font-weight: bold!important;
            color: #6061a8;
            font-size: 15px;
        }
        .u_index{
            color: #757575!important;
        }
        .l_content{
            margin-left: 30px;
        }
        #emotions .container{
            width: 375px;
        }
        .l_del{
            cursor:pointer;
        }
    </style>
</head>
<body>
<div class="wrap" id = "app">
    <div class="wrap_main clearfixhack">
        <!-- 主体 开始 -->
        <div class="indextop">
            <div class="container">
                班级教育管理系统
                <!-- <a class="fr c666" href="#">联系我们</a>
                <a class="fr c666" href="#">人才招聘</a>
                <a class="fr c666" href="#">首页</a> -->
                <a class="fr c666" href="/logout">退出</a>
            </div>
        </div><!-- indextop  end  -->
        <div class="indexhead">
            <div class="container">
                <!--<img class="logo" src="../../assets/index/img/logo.png" />-->
                <!-- <div class="searchbox">
                    <div class="searchinput"><input type="text" placeholder="请输入您要搜索的内容" /></div>
                    <div class="searchbtn"><a href="#"></a></div>
                    <div class="searchhistory">热门搜索：<a href="#">教育</a><a href="#">海淀</a><a href="#">幼儿园</a></div>
                </div> -->
            </div>
        </div><!-- indexhead  end  -->
        <div class="indexmenu">
            <div class="container">
                <ul>
                    <li><a href="/index?destination=1" >首页</a></li>
                    <li  ><a href="/front/photo/myPhoto">我的相册</a></li>
                    <li class="on"><a href="/front/leavemsg/myLeavemsg">留言板</a></li>
                </ul>
            </div>
        </div><!-- indexmenu  end  -->
        <div class="container clearfix mb20">
            <div class="list_R" id="list" style="width: 1174px">
                <!--<div class="cumb">当我按位置：<a href="#">首页</a>><a href="#">{{zongNavPd.zongNav}}</a>><a href="#">{{ziNav}}</a></div>-->
                <div class="ultop clearfix"><div class="top1">我的留言</div></div>
                <ul id="pageul" class="listul">
                    <template v-for="(leaveMsg,index) in leaveMsgList">
                        <li>
                            <a href="#" >
                                <small class="from_user">{{leaveMsg.formUserName}}</small>
                                <!--<small class="u_index">第{{total-(pageNo-1)*10+index}}楼</small>-->
                                <br>
                                <div class="l_content" v-html="leaveMsg.content"></div>
                                </a>
                            <span style="float: right" class="l_del" @click="del(leaveMsg.id)">删除</span>
                            <span style="width: 144px">{{leaveMsg.createDate}}</span>
                        </li>

                    </template>
                </ul>
                <!-- 分页 -->
                <div class="holder" id="page" style="float: right"></div>
            </div><!-- list_R  end  -->
            <div class="list_R" id="list2" style="width: 1174px">
                <!--<div class="cumb">当我按位置：<a href="#">首页</a>><a href="#">{{zongNavPd.zongNav}}</a>><a href="#">{{ziNav}}</a></div>-->
                <div class="ultop clearfix"><div class="top1">编辑留言</div></div>
                <div style="height: 100px;margin-bottom: 100px">
                    <div class="content" >
                        <div class="cont-box">
                            <textarea class="text" placeholder="请输入..."></textarea>
                        </div>
                        <div class="tools-box">
                            <div class="operator-box-btn"><span class="face-icon"  >☺</span><span class="img-icon">▧</span></div>
                            <div class="submit-btn"><input type="button" onClick="out ()"value="提交评论" /></div>
                        </div>
                    </div>

                </div>
            </div><!-- list_R  end  -->
        </div>
        <!-- 主体  结束  -->
    </div>
</div>
<!-- 底部  开始  -->
<div class="footer">
    <div class="main">
        <p>版权所有：北京市xxxxx    </br>
            地址：北京市xxxxxxxxx　咨询热线：xxxxxx</p>
    </div>
</div>
<!-- 底部  结束  -->
</body>
<script type="text/javascript" src="/front/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="/front/js/pre-loader.js"></script>
<script src="/front/js/sweetalert.min.js"></script>
<script src="/front/dspro/js/main.js"></script>
<script src="/front/dspro/js/sinaFaceAndEffec.js"></script>
<script type="text/javascript">

</script>
<script src="/js/layui/layui.all.js"></script>
<script type="text/javascript" src="/front/js/myleaveMsg.js"></script>

</html>
