<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.filedir.dao.FileDirDao">

	<select id="get" resultType="com.bootdo.filedir.domain.FileDirDO">
		select `id`,`name`,`create_by`,`create_date`,`type` from sys_file_dir where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.filedir.domain.FileDirDO">
		select sf.`id`,sf.`name`,`create_by`,`create_date`,`type`,u.name as cuName from sys_file_dir sf
		left join sys_user u on sf.create_by=u.user_id
        <where>  
		  		  <if test="id != null and id != ''"> and sf.id = #{id} </if>
		  		  <if test="name != null and name != ''"> and sf.name = #{name} </if>
		  		  <if test="createBy != null and createBy != ''"> and sf.create_by = #{createBy} </if>
		  		  <if test="createDate != null and createDate != ''"> and sf.create_date = #{createDate} </if>
		  		  <if test="type != null and type != ''"> and sf.type = #{type} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by sf.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_file_dir
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.filedir.domain.FileDirDO" useGeneratedKeys="true" keyProperty="id">
		insert into sys_file_dir
		(
			`name`, 
			`create_by`, 
			`create_date`, 
			`type`
		)
		values
		(
			#{name}, 
			#{createBy}, 
			#{createDate}, 
			#{type}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.filedir.domain.FileDirDO">
		update sys_file_dir 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="type != null">`type` = #{type}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sys_file_dir where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_file_dir where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>